/* Author: Pavel Mednikov (hello@pavelmednikov.com) */
// VARIABLES
// --colors
$white:         #fff;
$dark-white:    #f7f7f7;

$light-green:   #759f85;
$green:         #045522;

$grey:          #e2e4e4;
$middle-grey:   #cccccc;
$text-grey:    #a9aeb3;
$dark-grey:     #566170;

$black:         #111;


// --measures
$margin:    10px;
$wrap:      1200px;


// MIXINS
// add with @include %mixin_name%
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-2($radius1, $radius2) {
  -webkit-border-radius: $radius1 $radius2;
     -moz-border-radius: $radius1 $radius2;
      -ms-border-radius: $radius1 $radius2;
          border-radius: $radius1 $radius2;
}

@mixin border-radius-3($radius1, $radius2, $radius3) {
  -webkit-border-radius: $radius1 $radius2 $radius3;
     -moz-border-radius: $radius1 $radius2 $radius3;
      -ms-border-radius: $radius1 $radius2 $radius3;
          border-radius: $radius1 $radius2 $radius3;
}

@mixin border-radius-4($radius1, $radius2, $radius3, $radius4) {
  -webkit-border-radius: $radius1 $radius2 $radius3, $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3, $radius4;
      -ms-border-radius: $radius1 $radius2 $radius3, $radius4;
          border-radius: $radius1 $radius2 $radius3, $radius4;
}

@mixin animation($duration) {
  -webkit-transition: all $duration ease-in-out;
     -moz-transition: all $duration ease-in-out; 
       -o-transition: all $duration ease-in-out; 
          transition: all $duration ease-in-out;
}

// Specific mixins
@mixin box-shadow{
  -webkit-box-shadow: 0px 0px 25px 0px rgba(1,1,1,.15);
     -moz-box-shadow: 0px 0px 25px 0px rgba(1,1,1,.15);
          box-shadow: 0px 0px 25px 0px rgba(1,1,1,.15);
}


// FONTS
@import 'fonts';

// CSS RESET
@import 'reset';

// FLUID IMAGES
@import 'fluid-images';

// SETTINGS & GRID
@import 'settings';


// MAIN STYLES
@import 'main';


// MEDIA QUERIES
// --to 1366
// @media only screen and (max-width: 1365px) {
//   @import '960';
// }
