{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<section id="content">
  <div class="wrap">
    <div class="col-12-full clearfix">

      <div class="row">
        <div id="page-title" class="col-12 text-center">
          <h1>{% page_attribute "page_title" %}</h1>
        </div>
      </div>

      <div class="row clerafix">

        <div id="content-container" class="col-12 text inner">
        Hey, this is staff
          {% placeholder "content" %}
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}
