{% load cms_tags sekizai_tags staticfiles thumbnail %}

<!-- <div class="user-list percent-grid clearfix"> -->
  {% thumbnail instance.photo '136x136' crop subject_location=instance.photo.subject_location as photo %}
  <div class="user grid-3 grid-m-2 grid-s-1 text-center">
    <img src="{{ photo.url }}" alt="{{ instance.full_name }}">
    <div class="user-info">
      <p class="username">{{ instance.full_name }}</p>
      <p class="position">{{ instance.seniority }}</p>
    </div>
    <div class="user-links">
      <!-- <p class="user-mail"><a href="">tom.hardy@fakemail.com</a></p>
      <p class="user-phone">+7 (555) 273-47-10</p> -->
      <p class="user-mail"><a href="mailto:{{ instance.email }}">{{ instance.email }}</a></p>
      <p class="user-phone">{{ instance.phone }}</p>
      <p>{{ instance.bio }}</p>
    </div>
  </div>
<!-- </div> -->